.food-lists{
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    .search{
        width: 50%;
        & input{
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(195, 192, 192);
            width: 100%;
            &::placeholder{
                color: black;
            }
        }
    }
}

.food-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}