@import "../../SCSS/mixins";

.food-card{
    width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    @include flex(space-between,center,1rem);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.148);
    &:hover .image img{
        opacity: 1;
    }
}
.image{
    width: 45%;
    height: 200px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        opacity: 0.5;
        transition: all 1s;
    }
}
.food-info{
    padding: 1rem;
    width: 60%;
    height: 200px;
    @include flex(center,center,1rem);
    flex-direction: column;
}
.name{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(191, 49, 49);
}
.description{
    cursor: pointer;
}

.price{
    font-size: 1.5rem;
    color: rgb(206, 169, 179);
}
  

@media screen and (max-width:780px) {
    .food-card{
        width: 360px;
    }
}