@import "../../SCSS/mixins";
@import "../../SCSS/variables";
header{
    background-color: rgb(73, 70, 70);
    padding: 2rem 5rem;
    margin: 1.5rem;
    text-align: center;
    @include flex(space-between,end,1rem);
    h1{
        text-transform: uppercase;
        font-family: $title-font;
        color: white;
        text-shadow: 1px 2px 10px black;
    }
}

#categories{
    width: 30%;
    padding: 10px;
    outline: none;
    cursor: pointer;
    background-color: rgb(78, 62, 62);
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
}
.category{
    background-color: transparent;
}

@media screen and (max-width:780px) {
    header{
        padding: 1rem;
        h1{
            font-size: 1rem;
        }
    
    }
    #categories{
        width: 100%;
    }

}